#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f4e9cd;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  position: relative;
  background: #f4e9cd;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 2px #000;
  padding: 2em;
  .header {
    background: food;
    background-size: cover;
    min-height: 350px;
    /* .icon {
      position: absolute;
      left: 85%;
      bottom: 30.7%;
      background: heart;
      color: #ac3b61;
      font-size: 1.3em;
      font-weight: bold;
      padding: 15px;
      border-radius: 50%;
      box-shadow: 0px 5px 30px 1px heart;
    } */
  }
}
img {
  max-width: 100%;
}
.read-the-docs {
  color: #888;
}
